.jumbotron {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-image: url('../img/projects/4.jpg');
  background-color: rgba(255, 255, 255, 0.5);
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.text-white {
  color: #e2edff;
}

a {
  text-decoration: none;
}

.contact-link {
  color: black;
}